@media all {
  // Area Section
  section#area {
    margin-top: 50px;

    > div {
      @include verticalFlex();

      .platform {
        margin: 50px 0px;
      }

      .info-area-div {
        margin-bottom: 80px;
      }

      .img-div {
        position: relative;
        width: 100%;

        figure {
          @include center;
          margin-top: -50px;
        }
      }

      h1 {
        font: bold 2.6em $mainFont;
      }
    }

    figure {
      display: block;
      margin-top: 20px;
    }

    .webdev-design {
      width: 350px;
      height: 350px;
      position: relative;
      animation: rotImg 7s infinite linear;
    }

    .webdev-design2 {
      animation: none;
    }

    @keyframes rotImg {
      100% {
        transform: rotate(360deg);
      }
    }
  }
}