@media all {
  // Contact Section
  section#contact {
    > div > div {
      width: 100%;
    }

    .text-contact {
      margin-bottom: 50px;
    }

    .contact-cont {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
    }

    .formDiv h1 {
      @include blockHeader;
    }

    form {
      background: $shadow;

      width: 100%;
      padding: 40px 30px;

      border-radius: 20px;
      box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5),
            -1px -1px 2px rgba(255, 255, 255, 0.1),
            0px 15px 10px rgba(0, 0, 0, 0.5);

      backdrop-filter: blur(6px);
      -webkit-backdrop-filter: blur(6px);

      display: flex;
      justify-content: center;

      > div {
        width: 100%;
      }

      .submit-button {
        background: linear-gradient(to right, $color0, $color1);
      }
    }

    #ways-contact {
      @include verticalFlex(space-around, center);

      .contact {
        background: linear-gradient(135deg, $color0, $color1);

        width: 75px;
        height: 75px;

        display: inline-block;

        animation: blob3 10s ease-in-out infinite;
      }

      p {
        display: inline-block;
        margin: 20px 5px;
        text-align: center;
      }

      img {
        filter: brightness(0);
      }
    }
  }
}