@media all {
  main {
    background: $bg;
    width: 100%;

    > div {
      width: 100%;
    }

    section {
      width: 100%;
      padding: 50px auto;

      @include center;

      > div {
        width: 80%;
      }
    }
  }
}

// Effects
@keyframes blob {
  0%,
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
}

@keyframes blob2 {
  0%,
  100% {
    border-radius: 89% 92% 80% 93% / 50% 70% 73% 40%;
  }

  50% {
    border-radius: 45% 77% 91% 50% / 50% 87% 54% 66%;
  }
}

@keyframes blob3 {
  0%,
  100% {
    border-radius: 58% 66% 73% 50% / 42% 45% 41% 57%;
  }

  50% {
    border-radius: 42% 72% 70% 54% / 32% 92% 63% 80%;
  }
}