@media screen and (min-width: 1200px) {
  /* Header Settings */
  header {
    > div {
      margin: 0px 150px;
    }

    .headerName {
      display: inline;
    }

    div#mainHeader {
      width: 60%;

      display: flex;
      justify-content: space-around;

      menu {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        nav {
          display: block;
          width: 70%;
        }
      }
    }

    li {
      display: inline;
    }

    div#bgcolor {
      width: 15%;
    }
  }

  header.scrolled > div {
    padding: 30px;
  }

  /* Main Settings */
  section {
    @include spaceAround;

    > div {
      width: 80%;
      height: 90%;
      display: flex;
      justify-content: space-around;

    }
  }

  /* Intro Section */
  section#intro {
    > div {
      width: 86%;
      margin: 20px 0px;

      @include flexStart;
    }

    div.intro3D {
      display: block;
      pointer-events: all;
    }

    > div div {
      width: 80%;
      margin-left: 2%;

      text-align: left;

      display: flex;
      justify-content: start;
      flex-direction: row-reverse;
    }

    h1 {
      width: 100%;

      position: relative;
      top: 0;
      display: inline-block;

      span.nickname {
        font-size: 4em;

        position: absolute;
        top: 0;
      }

      span.cursiveWords {
        font: bolder 2em 'Kalam', cursive;
        letter-spacing: .25em;
      }
    }

    h2.intro-h2 {
      font-size: 2em;
      margin-top: 0;
    }

    div#socials {
      display: flex;
      flex-direction: column;

      div {
        @include center;
      }
    }
  }

  /* Services Section */
  section#services {
    @include spaceAround;

    .skill-block {
      padding: 20px;
      margin: 20px;

      border-radius: 10px;

      &:nth-child(1) {
        transition: transform 2.3s ease;
      }

      &:nth-child(2) {
        transition: transform 2s ease;
      }

      &:nth-child(3) {
        transition: transform 1.7s ease;
      }
    }

    div#cards {
      @include spaceAround;
    }
  }

  /* About Section */
  section#about {
    height: 900px;

    div {
      width: 80%;
    }
  }

  /* Area Section */
  section#area {
    > div {
      @include spaceAround;

      div {
        margin: 100px 0px;
      }
    }

    .platform {
      width: 100%;
      margin: 20px 0px;

      @include spaceAround;

      div {
        width: 60%;
      }

      p {
        width: 90%;
      }
    }

    #google-design {
      width: 700px;

      position: absolute;
      transform: translateY(-25%);
    }
  }

  /* Meta Section */
  section#skills {
    .platform {
      width: 100%;
  
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-around;

      div {
        width: 50%;
      }
    }
  }

  div.result {
    width: 100%;

    @include center;

    div {
      width: 100%;
      padding: 20px;
      margin: 20px;
    }

    #prom-container {
      height: auto;
  
      @include grid(12, 3);

      .promises {
        margin: 0;

        &:nth-child(1) {
          grid-column-start: 1;
          grid-column-end: 8;
        }
      
        &:nth-child(2) {
          grid-column-start: 8;
          grid-column-end: 13;
        }
      
        &:nth-child(3) {
          grid-column-start: 1;
          grid-column-end: 6;
        }
      
        &:nth-child(4) {
          grid-column-start: 6;
          grid-column-end: 13;
        }
      }
    }
  }

  /* CTA Section */
  section#contact {
    form {
      width: 650px;
      padding: 40px 20px;
  
      div {
        width: 95%;
      }
    }
  }


  /* Footer Section */
  footer {
    margin-top: 0px;

    #footerNav {
      @include spaceAround;

      > div {
        width: 35%;
        padding: 20px;
      }
    }
  }

  // Msg Me Icons
  div#msg-me {
    top: 85%;
    left: 90%;
  }

  // Animations
  div.scroll-anim {
    width: 100%;
  }
}