@media screen and (min-width: 1200px) {
  /* Header Settings */
  header {
    > div {
      margin: 0px 150px;
    }

    .headerName {
      display: inline;
    }

    #mainHeader {
      @include spaceAround;

      width: 60%;

      menu {
        @include spaceBetween;
        width: 100%;
  
        nav {
          display: block;
          width: 70%;
        }
      }
    }
    
    li {
      display: inline;
    }

    div#bgcolor {
      width: 15%;
    }
  }

  header.scrolled > div {
    padding: 30px;
  }

  /* Main Settings */
  section {
    @include spaceAround;

    > div {
      width: 80%;
      height: 90%;
      display: flex;
      justify-content: space-around;

    }
  }

  /* Intro Section */
  section#intro {
    > div {
      width: 86%;
      margin: 10px 0px;

      @include spaceBetween;

      .intro {
        width: 50%;

        text-align: left;

        @include center;
        flex-flow: row-reverse nowrap;
      }
    }

    .intro3D {
      position: absolute;
      display: block;
      pointer-events: all;
    }

    h1 {
      width: 100%;

      position: relative;
      top: 0;
      display: inline-block;

      span.nickname {
        font-size: 4em;

        position: absolute;
        top: 0;
      }

      span.cursiveWords {
        font: bolder 2em 'Kalam', cursive;
        letter-spacing: .25em;
      }
    }

    h2.intro-h2 {
      font-size: 2em;
      margin-top: 0;
    }

    #socials {
      display: flex;
      flex-direction: column;

      div {
        @include center;
      }
    }

    .introPresent {
      width: 50%;
      display: block;
    }
  }

  /* Services Section */
  section#services {
    #cards {
      @include spaceAround;

      .servBlock {
        margin: 20px;
        padding: 20px;
  
        border-radius: 10px;
  
        &:nth-child(1) {
          transition: all 2.3s ease;
        }
  
        &:nth-child(2) {
          transition: all 2s ease;
        }
  
        &:nth-child(3) {
          transition: all 1.7s ease;
        }
      }
    }
  }

  /* About Section */
  div#about-style {
    height: 900px;
  }

  section#about {
    height: 900px;

    div {
      width: 80%;
    }
  }

  /* Area Section */
  section#area {
    > div {
      @include spaceAround;

      > div {
        margin: 100px 0px;
      }
    }

    .platform {
      width: 100%;
      margin: 20px 0px;

      @include spaceAround;
      align-items: flex-start;

      div {
        width: 100%;
      }

      p {
        width: 90%;
      }
    }

    #google-design {
      width: 700px;

      position: absolute;
      transform: translateY(-25%);
    }
  }

  /* Meta Section */
  section#skills {
    padding: 50px;

    .platform {
      width: 100%;
  
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-around;

      div {
        width: 50%;
      }

      .langsCont {
        width: 100%;

        > div {
          width: 70%;
        }

        .techStack {
          width: 40%;
          height: 100%;
          border-radius: 20px;

          .tech {
            height: 100px;
            margin: 20px;
            border-radius: 20px;
          }

          figure, img {
            width: 70%;
          }
        }

        .laptop {
          position: relative;

          .laptopContent {
            width: 586.9px;
            height: 369.5px;
    
            position: absolute;
            top: 5%;
            left: 11.7%;
            z-index: 1;
          }
        }
      }
    }
  }

  // Portfolio Section
  section#portfolio {
    > div {
      width: 85%;
      padding: 20px;
      margin: 20px;
    }
  
    .projCont {
      .proj {
        width: 100%;
        min-height: 600px;
  
        > div {
          width: 50%;
        }
          
        .projInfo {
          @include verticalFlex(space-between, flex-start);
          width: 50%;
          height: 85%;
        }
  
        .projImg {
          width: 40%;

          picture,
          img {
            margin: 0;
          }
        }
  
        .techStackCont {
          picture, img {
            width: 50px;
            margin: 0px 10px 10px 10px;
          }
        }
      }
    }
  }

  /* CTA Section */
  section#contact {
    #ways-contact {
      @include verticalFlex(space-around, start);
    }

    .formDiv {
      form {
        width: 650px;
        padding: 40px 20px;

        div {
          width: 95%;
        }
      }
    }
  }

  /* Footer Section */
  footer {
    margin-top: 0px;

    #footerNav {
      @include spaceAround;
      align-items: flex-start;

      > div {
        width: 35%;
        padding: 20px;
      }
    }
  }
}