@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('../../../fonts/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Kalam';
  src: url('../../../fonts/Kalam/Kalam-Regular.ttf');
  font-display: swap;
}