.popupFilter {
  background: $shadow;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  width: 100vw;
  height: 100vh;

  @include center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;

  .success {
    background: $bg4;
    box-shadow: 0px 0px 20px black;
    
    width: 600px;
    height: 400px;
    padding: 20px;
    border-radius: 20px;
  
    @include center;
    position: relative;
    z-index: 4;
  
    transition: all .5s ease;
  
    > div {
      text-align: center;
    }
  
    .iconCont {
      width: 130px;
      height: 130px;
      margin: auto;
      margin-bottom: 30px;
      border: 5px solid rgb(104, 228, 33);
      border-radius: 50%;
  
      @include center;
  
      .doneIcon {
        color: rgb(104, 228, 33);
        width: 80px;
        height: 80px;
      }
    }
  
    .closeButtCont {
      width: 93%;
      position: absolute;
      display: flex;
      justify-content: end;
      align-self: flex-start;
  
      .closeButt {
        width: 30px;
        height: 30px;
      }
    }
  }
}
