@media screen and (min-width: 768px) and (max-width: 992px) {
  /* Intro Section */
  .headerName {
    display: inline;
  }

  main {
    @include verticalFlex;
  }
  
  section#intro {
    .intro {
      @include spaceAround;
      flex-flow: row-reverse nowrap;

      #introImg {
        width: 40%;
      
        display: block;
      }
    }

    #introducing {
      text-align: left;
    }

    #socials {
      display: flex;
      flex-direction: column;
    }
  }

  /* Services Sections */
  section#services {
    > div {
      @include verticalFlex(space-between, center);
    }

    div#cards {
      width: 100vw;

      @include center(row wrap);
    }

    .servBlock {
      width: 40%;
      min-height: 600px;
      margin: 20px;
    }
  }

  // About Section
  #about-style {
    height: 1800px;
  }

  section#about {
    height: 1800px;
  }

  // Area Section

  /* Footer Section */
  #footerNav {
    @include spaceAround;

    > div {
      width: 50%;
    }
  }
}
