@charset "UTF-8";

// General Styles
@import "./styleComponents/generalSet/resets";
@import "./styleComponents/generalSet/variables";
@import "./styleComponents/generalSet/imports";
@import "./styleComponents/generalSet/mixins";
@import "./styleComponents/UI\ Components/scrollbar";

// Components Style
@import "./styleComponents/UI Components/header";

@import "./styleComponents/UI Components/main";
@import "./styleComponents/UI Components/IntroSect";
@import "./styleComponents/UI Components/Services";
@import "./styleComponents/UI Components/About";
@import "./styleComponents/UI Components/Area";
@import "./styleComponents/UI Components/Skill";
@import "./styleComponents/UI Components/Portfolio";
@import "./styleComponents/UI Components/Contact";

@import "./styleComponents/UI Components/footer";
@import "./styleComponents/UI Components/msgme";

// Skill Content
@import "./styleComponents/UI Components/laptopContent";
@import "./styleComponents/UI Components/laptopContentDesktop";
@import "./styleComponents/UI Components/laptopContentBig";

// Media Queries
@import "./styleComponents/generalSet/tabletMediaQuery";
@import "./styleComponents/generalSet/desktopMediaQuery";
@import "./styleComponents/generalSet/bigMediaQuery";

// Light Theme
@import "./styleComponents/generalSet/lightTheme";

// Animations and JavaScript
@import "./styleComponents/generalSet/Popup";