@media screen and (min-width: 1200px) {
  /* Header Settings */
  header {
    top: 3%;

    > div {
      width: 100%;
      padding: 30px;
      margin: 0px 50px;

      .logoDiv {
        h1 {
          display: block;
          opacity: 1;
          pointer-events: all;
        }
      }
    }

    #mainHeader {
      width: 20%;

      menu {
        nav {
          width: 100%;
        }
      }
    }

    div#bgcolor {
      width: 15%;
    }
  }

  /* Main Settings */
  section {
    @include spaceAround;

    > div {
      width: 80%;
      height: 90%;
      display: flex;
      justify-content: space-around;

    }
  }

  /* Intro Section */
  section#intro {
    > div {
      width: 86%;
      margin: 10px 0px;

      @include spaceBetween;

      .intro {
        width: 50%;

        text-align: left;

        @include center;
        flex-flow: row-reverse nowrap;
      }
    }

    h1 {
      width: 100%;
      height: 160px;

      position: relative;
      top: 0;
      display: inline-block;

      span.nickname {
        font-size: 4em;

        position: absolute;
        top: 0;
      }

      span.cursiveWords {
        font: bolder 2em 'Kalam', cursive;
        letter-spacing: .25em;
      }
    }

    h2.intro-h2 {
      font-size: 2em;
      margin-top: 0;
    }

    p {
      margin: 20px 0px;
    }

    #socials {
      display: flex;
      flex-flow: column wrap;

      div {
        @include center;
        margin: 15px 10px;
      }
    }

    .introPresent {
      width: 50%;
      display: flex;

    }

    .scroll-anim {
      display: flex;
    }
  }

  /* Services Section */
  section#services {
    #cards {
      @include spaceAround;

      .servBlock {
        margin: 20px;
        padding: 20px;
  
        border-radius: 10px;
  
        &:nth-child(1) {
          transition: all 2.3s ease;
        }
  
        &:nth-child(2) {
          transition: all 2s ease;
        }
  
        &:nth-child(3) {
          transition: all 1.7s ease;
        }
      }
    }
  }

  /* About Section */
  div#about-style {
    height: 850px;
  }

  section#about {
    height: 900px;

    div {
      width: 80%;
    }

    img {
      width: auto;
      height: auto;
      position: relative;
      top: -15%;
      scale: 220%;
    }

    .range {
      width: 600%;
      height: 60px;
      position: absolute;
      top: 83%;
      font: bold 2.5em $mainFont;
    }

    .range2 {
      position: absolute;
      top: 80%;
      transform: rotate(7deg)
    }

    .range > div {
      width: 100%;
    }
  }

  /* Area Section */
  section#area {
    > div {
      @include verticalFlex;
      
      .platform {
        @include spaceAround;
  
        width: 100%;
  
        align-items: flex-start;
  
        div {
          width: 100%;

        }
        
        p {
          width: 90%;
        }
      }

      h1 {
        font-size: 2.6em;
      }
    }


    #google-design {
      width: 700px;

      position: absolute;
      transform: translateY(-25%);
    }
  }

  /* Meta Section */
  section#skills {
    padding: 50px;

    .langsCont {
      .techStack {
        width: 17%;
        top: 9%;
        left: 2%;
      }

      .archFeatures {
        opacity: 1;
        pointer-events: all;
      }
    }

    .platform {
      width: 100%;
  
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-around;

      div {
        width: 50%;
      }

      .langsCont {
        width: 100%;
        position: relative;

        > div {
          width: 70%;
        }

        .techStack {
          width: 40%;
          height: 100%;
          border-radius: 20px;

          .tech {
            height: 100px;
            margin: 20px;
            border-radius: 20px;
          }

          figure, img {
            width: 70%;
          }
        }

        .laptop {
          width: 50%;
          position: relative;

          .laptopContent {
            width: 586.9px;
            height: 369.5px;
    
            position: absolute;
            top: 5%;
            left: 11.7%;
            z-index: 1;
          }
        }
      }
    }
  }

  // Portfolio Section
  section#portfolio {
    > div {
      width: 85%;
      padding: 20px;
      margin: 20px;
    }
  
    .projCont {
      .proj {
        width: 100%;
        min-height: 600px;
        padding: 30px;
        margin: 30px 0px;
  
        > div {
          width: 50%;
        }
          
        .projInfo {
          @include verticalFlex(space-between, flex-start);
          width: 50%;
          height: 85%;
        }
  
        .projImg {
          width: 40%;

          picture,
          img {
            margin: 0;
          }
        }
  
        .techStackCont {

          abbr {
            width: auto;
          }

          picture, img {
            width: 50px;
            margin: 0px 10px 10px 10px;
          }
        }

        h2 {
          font-size: 3em;

          span {
            margin-left: 15px;
          }
        }
      }

      button {
        width: auto;
      }
    }
  }

  /* CTA Section */
  section#contact {
    #ways-contact {
      @include verticalFlex(space-around, start);

      .contact-cont {
        display: block;
      }

      p {
        text-align: left;
        margin: 20px 10px;
      }
    }

    .formDiv {
      form {
        width: 650px;
        padding: 40px 20px;

        div {
          width: 95%;
        }
      }
    }
  }

  /* Footer Section */
  footer {
    margin-top: 0px;

    #footerNav {
      @include spaceAround;
      align-items: flex-start;

      > div {
        width: 35%;
        padding: 20px;
      }
    }
  }

  // Msg Me
  .settingsMenu {
    top: 105%;
    left: 72%;
  }

  .backUp {
    left: 80%;
  }
}