@media screen and (min-width: 992px) and (max-width: 1200px) {
  /* Header Settings */
  .headerName {
    display: none;
  }

  header {
    li {
      display: inline;
    }

    #mainHeader {
      width: 80%;
    }

    .logoDiv {
      h1 {
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  /* Intro Section */
  section#intro {
    > div {
      width: 100%;
      // @include spaceAround;

      > div {
        width: 50%;
      }
    }

    .intro3D {
      display: block;
    }

    .intro {
      @include spaceAround(row-reverse nowrap);
    }
      
    .introducing {
      text-align: left;
    }

    #socials {
      @include flexStart;
      flex-flow: column nowrap;
    }
  }

  div#scroll-anim {
    width: 100vw;
  }

  /* Services Sections */
  section#services {
    #cards {
      width: 100vw;
      
      @include center(row wrap);

      .servBlock {
        width: 44%;
        min-height: 600px;
        max-height: 650px;
        margin: 20px;
      }
    }
  }

  /* About Section */
  div#about-style {
    height: 990px;
  }

  section#about {
    height: 1000px;

    > div {
      @include spaceAround;

      div {
        width: 50%;
      }
    }
  }

  /* Area Section */

  // Portfolio Area
  section#portfolio {
    .projCont {
      .proj {
        @include spaceAround(row nowrap);
    
        > div {
          width: 50%;
        }
      }
    }
  }

  /* CTA Section */
  section#contact {
    > div {
      @include spaceAround;
    }
  }

  /* Footer Section */
  #footerNav {
    @include spaceAround;

    > div {
      width: 50%;
    }
  }
}