@import "./variables";
@import "./mixins";

// General Settings
* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;

  border: none;
  outline: none;

  font-family: $mainFont;
}

::-webkit-scrollbar {
  display: none;
}

html,
body {
  background: $bg;
  color: $color;

  width: 100vw;
  min-width: 100%;
  height: 100vh;

  @include verticalFlex();
  position: relative;

  overflow-x: clip;
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body * {
  transition: background 0.5s;
  user-select: none;
}

// Cursor
.mouseCursor {
  background: $color;
  box-shadow: 0px 0px 5px 2px rgb(80, 30, 208);
  
  width: 5px;
  height: 5px;
  border-radius: 50%;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;

  pointer-events: none;
}

button:hover ~ .mouseCursor {
  width: 25px;
  height: 25px;
}

a:hover ~ .mouseCursor {
  width: 25px;
  height: 25px;
}

// UI
#root {
  width: 100%;
  height: 100%;
}

// Block Elements Reset
fieldset {
  margin: 20px;
}

canvas {
  cursor: pointer;
}

// Inline-Block Elements
input,
textarea {
  background: $input;
  color: $color;

  width: 100%;
  padding: 12px 20px;
  margin: 10px 0px;
  border-radius: 10px;

  resize: none;
}

button {
  background: transparent;
  @include buttonGen(false, false);
}

header label {
  cursor: pointer;
}

// Text Elements
p {
  color: var(--txtColor);
  margin: 20px 0px;

  font-size: 1.2em;
  line-height: 2em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 2em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $color;
}

picture,
figure {
  width: 100%;
  height: 100%;

  @include center;
}

figure img {
  width: 100%;
}

figcaption {
  display: none;
}

// Text Classes
.fancy {
  @include fancyText;
}

.big {
  font-size: 3em;
}

// Media Settings
.contact .icons {
  width: 50px;
  height: 50px;
}

.blockquote {
  @include center;
  text-align: center;
}

abbr {
  text-decoration: none;
}