@charset "UTF-8";

/* Icons */
div#msg-me {
  top: 85%;
  left: 90%;
}

/* Header Settings */
.headerName {
  display: inline;
}

header > div {
  margin: 0px 150px;
}

header.scrolled > div {
  padding: 30px;
}

header div#mainHeader {
  width: 60%;

  display: flex;
  justify-content: space-around;
}

header menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav {
  display: block;
  width: 70%;
}

header li {
  display: inline;
}

header div#bgcolor {
  width: 15%;
}

/* Main Settings */
section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

section div.cont {
  width: 80%;
  height: 90%;
  display: flex;
  justify-content: space-around;
}

div.cont div.result {
  width: 100%;

  display: flex;
  justify-content: center;
}

div.results div {
  width: 100%;
  padding: 20px;
  margin: 20px;
}

div#prom-container {
  height: auto;

  display: grid;
  grid-template-columns: 60% 1fr;
  grid-template-rows: 500px 500px 500px;

  gap: 30px;
}

div.promises:nth-child(4) {
  grid-template-columns: 2fr;
}

div.results div.promises {
  margin: 0;
}

/* Intro Section */
section#intro div.cont {
  width: 86%;
  margin: 20px 0px;

  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

section#intro div.cont > div {
  width: 80%;
  margin-left: 2%;

  text-align: left;

  display: flex;
  justify-content: start;
  flex-direction: row-reverse;
}

section#intro div.cont h1 {
  width: 100%;

  position: relative;
  top: 0;
  display: inline-block;
}

section#intro div.cont span.nickname {
  font-size: 4em;

  position: absolute;
  top: 0;
}

section#intro span.cursiveWords {
  font: bolder 2em 'Kalam', cursive;
  letter-spacing: .25em;
}

h2.intro-h2 {
  font-size: 2em;
  margin-top: 0;
}

div#socials {
  display: flex;
  flex-direction: column;
}

div#socials div {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Skills Section */
section#skills {
  display: flex;
  justify-content: space-around;
}

section#skills div.skill-block:nth-child(1) {
  transition: transform 2.3s ease;
}

section#skills div.skill-block:nth-child(2) {
  transition: transform 2s ease;
}

section#skills div.skill-block:nth-child(3) {
  transition: transform 1.7s ease;
}

div.skill-block {
  padding: 20px;
  margin: 20px;

  border-radius: 10px;
}

section#skills div.cont div#cards {
  display: flex;
  justify-content: space-around;
}

/* About Section */
section#about {
  height: 900px;
}

section#about div {
  width: 80%;
}

/* Google Section */
section#google div.cont {
  display: flex;
  justify-content: space-around;
}

section#google div.cont > div {
  margin: 100px 0px;
}

section#google div.platform {
  width: 100%;
  margin: 20px 0px;

  display: flex;
  justify-content: space-around;
}

section#google div.platform > div {
  width: 60%;
}

section#google div.platform p {
  width: 90%;
}

section#google #google-design {
  width: 700px;

  position: absolute;
  transform: translateY(-25%);
}

/* Meta Section */
section#meta div.platform {
  width: 100%;

  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

section#meta div.platform > div {
  width: 50%;
}

/* CTA Section */
form {
  width: 650px;
  padding: 40px 20px;
}

form div {
  width: 95%;
}

/**/
div.scroll-anim {
  width: 100%;
}

/* Footer Section */
footer {
  margin-top: 0px;
}

footer div#footerNav {
  display: flex;
  justify-content: space-around;
}

div#footerNav > div {
  width: 35%;
  padding: 20px;
}