@media all {
  // About Section
  div#about-style {
    background: $bg2;

    width: 100%;
    height: 1550px;
    z-index: 0;

    transform: skewY(-5deg);
    position: absolute;
    left: 0;
  }

  section#about {
    height: 1550px;
    padding-top: 50px;
    position: relative;

    > div {
      margin-top: 50px;
      z-index: 1;
    }

    picture {
      height: 70%;
      height: 800px;
    }

    .range {
      background: linear-gradient(
        to right,
        $color0,
        $color1
      );
      background-size: 30%;
      color: black;
      box-shadow: 0px 0px 20px black;

      width: 1300%;
      height: 60px;

      position: absolute;
      top: 93%;
      transform: rotate(-4.5deg);

      font: bold 2.5em $mainFont;
    }
    
    .range2 {
      position: absolute;
      top: 95%;
      transform: rotate(13deg);
    }

    .range > div {
      width: 100%;
      position: relative;
      animation: movingRange 75s infinite linear;
    }

    @keyframes movingRange {
      0% {
        left: 30%;
      }

      100% {
        left: -10%;
      }
    }
  }
}