.laptop {
  position: relative;

  .image {
    background: url("../../public/img/landscape.webp") no-repeat center;
    background-size: cover;

    width: 90.1%;
    height: 95.7%;
    border-radius: 46px;

    position: absolute;
    top: 2.2%;
    left: 5%;
    z-index: 1;
  }

  .laptopContent {
    background: white;
    color: black;

    width: 90.1%;
    height: 95.7%;
    border-radius: 46px;

    position: absolute;
    top: 2.2%;
    left: 5%;
    z-index: 2;
  }

  .pageHeader {
    width: 100%;
    height: 70px;

    display: flex;
    justify-content: end;
    align-items: center;

    ul {
      margin-right: 20px;
    }

    li {
      display: inline-block;
      padding: 10px 15px;
      border-radius: 10px;
      cursor: pointer;

      &:hover {
        background: rgba(255, 255, 255, 0.196);
      }
    }
  }

  .dateTime {
    width: 50%;

    text-align: right;

    display: flex;
    justify-content: end;

    position: absolute;
    top: 64%;
    left: 50%;

    .time {
      font-size: 4em;
    }

    .date {
      font: normal 1.88em $mainFont;
    }
  }

  p {
    margin: 10px 25px;
    font-size: 1em;
    line-height: 1em;
  }

  a {
    display: block;
    color: blue;
    text-decoration: underline;
    margin: 16px;
  }
}