@media all {
  // Services Sections
  section#services {
    box-shadow: 0px -10px 15px $shadow;

    @include spaceAround;

    > div {
      @include verticalFlex(none, center);
      flex-flow: column nowrap;
    }

    .servBlock {
      background: linear-gradient(to bottom, $baseBlur, $bg3);
      backdrop-filter: blur(6px);
      -webkit-backdrop-filter: blur(6px);

      width: 100%;
      min-height: 600px;
      max-height: 650px;
      padding: 20px;
      margin: 20px 0px;

      box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5),
            -1px -1px 2px rgba(255, 255, 255, 0.1),
            0px 15px 10px rgba(0, 0, 0, 0.5);

      border-radius: 10px;

      @include verticalFlex(none, center);

      position: relative;
      z-index: 1;

      .imgSv {
        background: linear-gradient(135deg, $color1, $color0);

        width: 200px;
        height: 200px;
        margin: 20px;

        animation: blob 10s ease-in-out infinite;

        @include center;

        &:nth-child(even) {
          background: linear-gradient(135deg, $color1, $color0);

          width: 200px;
          height: 200px;
          margin: 20px;

          position: absolute;
          z-index: -1;
          filter: blur(30px);

          animation: blob 10s ease-in-out infinite;
        }

        img {
          width: 50%;
          filter: brightness(0);
        }
      }
    }

    h1 {
      @include blockHeader;
      margin: 30px 0px;
    }

    img {
      width: 50%;
      filter: brightness(0);
    }
  }
}