@charset "UTF-8";

/* Header Settings */
.headerName {
  display: inline;
}

header li {
  display: inline-block;
}

header div#mainHeader {
  width: 70%;
}

/* Intro Section */
section#intro div.cont {
  width: 100%;
}

section#intro div.cont > div{
  width: 100%;
}

div.intro-content {
  display: flex;
  justify-content: space-around;
}

section#intro div.intro-content > div {
  width: 50%;

  text-align: left;

  display: flex;
  flex-direction: row-reverse;
}

div.introducing {
  text-align: left;
}

div.intro-content div#introImg {
  display: block;
}

section#intro div#socials {
  display: flex;
  justify-content: start;
  flex-direction: column;
}

section#intro div.intro-content div#introImg {
  display: block;
}

div#scroll-anim {
  width: 100vw;
}

/* SKills Sections */
section#skills div#cards {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  transform: translateX(-10%);
}

section#skills div.skill-block {
  width: 44%;
  margin: 20px;
}

/* About Section */
div.about-style {
  height: 700px;
}

section#about div.cont {
  display: flex;
  justify-content: space-around;
}

section#about div.cont > div {
  width: 50%;
}

/* Google Section */
div#prom-container {
  width: 100%;
}

div.promises {
  width: 45%;
}

div.results > div#prom-container {
  display: flex;
  flex-wrap: wrap;
}

/* CTA Section */
section#grow div.cont {
  display: flex;
  justify-content: space-around;
}

/* Footer Section */
div#footerNav {
  display: flex;
  justify-content: space-around;
}