* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: "Plus Jakarta Sans", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

html,
body {
  background: #060606;
  color: white;
  width: 100vw;
  min-width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: none;
  align-items: none;
  position: relative;
  overflow-x: clip;
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body * {
  transition: background 0.5s;
}

#root {
  width: 100%;
  height: 100%;
}

fieldset {
  margin: 20px;
}

input,
textarea {
  background: rgba(0, 0, 0, 0.558);
  color: white;
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0px;
  border-radius: 10px;
  resize: none;
}

button {
  background: transparent;
  background: linear-gradient(to right, #00f, rgb(128, 0, 255));
  margin: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
}

p {
  color: var(--txtColor);
  margin: 20px 0px;
  font-size: 1.2em;
  line-height: 2em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 2em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

picture,
figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

figure img {
  width: 100%;
}

figcaption {
  display: none;
}

.fancy {
  background: linear-gradient(to right, #00f, rgb(128, 0, 255));
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.big {
  font-size: 3em;
}

.contact .icons {
  width: 50px;
  height: 50px;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../../../fonts/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Kalam";
  src: url("../../../fonts/Kalam/Kalam-Regular.ttf");
  font-display: swap;
}
header {
  color: white;
  width: 100vw;
  height: 90px;
  position: fixed;
  /* top: -15%;  Add Javascript to animate header*/
  top: 3%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
header > div {
  background: rgba(0, 0, 0, 0.5);
  width: 110%;
  height: 100%;
  padding: 30px;
  margin: 0px 15px;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header > div .headerName {
  margin-left: 8px;
}
header li {
  display: none;
  margin: 10px;
}
header button {
  background: linear-gradient(to right, #00f, rgb(128, 0, 255));
  margin: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  background: transparent;
  width: auto;
  padding: 0;
  margin: 0;
}
header button a {
  color: white;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  display: block;
}
header button a {
  padding: 10px;
}
header figure {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header figure img {
  width: 75px;
  height: 75px;
}
header figure h1 {
  width: 200px;
}
header a {
  color: white;
  transition: all 0.5s ease;
}
header a:hover {
  background: linear-gradient(to right, #00f, rgb(128, 0, 255));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
header #mainHeader {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 35%;
}
header #mainHeader menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
header #musicDiv {
  display: inline-flex;
  align-items: center;
}
header canvas {
  background: rgb(196, 196, 196);
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 50%;
  transition: all 0.5s ease;
  cursor: pointer;
}
header canvas:hover {
  background: linear-gradient(to right, #00f, rgb(128, 0, 255));
}
header div#bgcolor {
  width: 50%;
  display: flex;
  align-items: center;
  position: relative;
}
header div#bgcolor label {
  background: linear-gradient(to right, rgb(106, 106, 255), rgb(200, 0, 255));
  width: 80px;
  height: 40px;
  border-radius: 80px;
  display: block;
  position: relative;
  left: 0;
  cursor: pointer;
  box-shadow: 0px 3px 10px 2px rgba(255, 0, 255, 0.218), inset 0px 0px 15px rgba(0, 0, 0, 0.488);
}
header div#bgcolor i#symbol {
  background: white;
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
}
header div#bgcolor i#thumb {
  background: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.488);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: 0.5s;
  position: absolute;
  top: 50%;
  left: 7%;
  transform: translateY(-50%);
  pointer-events: none;
}
header div#bgcolor input {
  display: none;
}
header div#bgcolor input:not(:checked) ~ span i#symbol {
  border: 2px solid black;
  box-shadow: 9px 0px 0px -6px white, -9px 0px 0px -6px white, 0px 9px 0px -6px white, 0px -9px 0px -6px white, 7px -7px 0px -6px white, -7px -7px 0px -6px white, -7px 7px 0px -6px white, 7px 7px 0px -6px white;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  mix-blend-mode: screen;
}
header div#bgcolor input:checked ~ span i#symbol {
  background: transparent;
  box-shadow: -4px 4px 0px 2px white;
  position: absolute;
  top: 40%;
  left: 25%;
  transform: translateY(-50%);
}
header div#bgcolor input:checked ~ label {
  background: linear-gradient(to right, #00f, rgb(128, 0, 255));
  box-shadow: 0px 3px 10px 2px rgba(0, 0, 255, 0.218), inset 0px 0px 15px rgba(0, 0, 0, 0.488);
}
header div#bgcolor input:checked ~ span i#thumb {
  position: absolute;
  left: calc(100% - 34px);
}

@media all {
  main {
    background: #060606;
    width: 100%;
  }
  main > div {
    width: 100%;
  }
  main section {
    width: 100%;
    padding: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main section > div {
    width: 80%;
  }
  section#intro {
    height: 100vh;
  }
  section#intro > div {
    width: 100vw;
    height: 90vh;
  }
  section#intro .intro3d, section#intro iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  section#intro .scroll-anim {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 1;
  }
  section#intro .scroll-anim div {
    width: 30px;
    height: 50px;
    border: 3px solid black;
    border-radius: 30px;
    display: flex;
    justify-content: center;
  }
  section#intro .scroll-anim > div::after {
    content: "";
    background: black;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: 20%;
    animation: scroll 1.1s ease-in-out infinite;
  }
  @keyframes scroll {
    from {
      top: 20%;
    }
    to {
      top: 60%;
      opacity: 0.2;
    }
  }
  section#services {
    box-shadow: 0px -10px 15px rgba(0, 0, 0, 0.488);
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  section#services > div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: none;
    align-items: center;
    flex-flow: column nowrap;
  }
  section#services .skill-block {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), #151515);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    width: 100%;
    padding: 20px;
    margin: 20px 0px;
    box-shadow: 0px 15px 15px 10px rgba(0, 0, 0, 0.488), -3px -3px 2px rgba(255, 255, 255, 0.3), 0px 5px 15px 1px rgba(0, 0, 0, 0.488);
    border-radius: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: none;
    align-items: center;
  }
  section#services .skill-block .img-sk {
    background: linear-gradient(135deg, rgb(128, 0, 255), #00f);
    width: 200px;
    height: 200px;
    margin: 20px;
    animation: blob 10s ease-in-out infinite;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  section#services .skill-block .img-sk:nth-child(even) {
    background: linear-gradient(135deg, rgb(128, 0, 255), #00f);
    width: 200px;
    height: 200px;
    margin: 20px;
    position: absolute;
    z-index: -1;
    filter: blur(30px);
    animation: blob 10s ease-in-out infinite;
  }
  section#services .skill-block .img-sk img {
    width: 50%;
    filter: brightness(0);
  }
  section#services h1 {
    background: rgba(0, 0, 0, 0.3);
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.488), -3px -3px 2px rgba(255, 255, 255, 0.3), 15px 15px 15px rgba(0, 0, 0, 0.488);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
  }
  section#services img {
    width: 50%;
    filter: brightness(0);
  }
  div#about-style {
    background: #010101;
    width: 100%;
    height: 850px;
    z-index: 0;
    transform: skewY(-5deg);
    position: absolute;
    left: 0;
  }
  section#about {
    height: 900px;
    padding-top: 50px;
    position: relative;
  }
  section#about > div {
    margin-top: 50px;
    z-index: 1;
  }
  section#area > div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: none;
    align-items: none;
  }
  section#area > div div {
    margin-top: 100px;
  }
  section#area > div .platform {
    margin: 20px 0px;
  }
  section#area > div .img-div {
    position: relative;
    width: 100%;
  }
  section#area figure {
    display: block;
    margin-top: 20px;
  }
  section#area #google-design {
    width: 450px;
    position: relative;
  }
  section#skills > div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: none;
    align-items: none;
  }
  section#skills > div div {
    margin: 40px 0px;
  }
  section#skills figure, section#skills img {
    width: 70%;
  }
  .platform {
    width: 100%;
  }
  section#portfolio {
    background: rgb(15, 15, 15);
    padding: 50px;
    margin: 50px 0px 100px 0px;
  }
  section#portfolio > div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: none;
    align-items: none;
  }
  section#portfolio .projCont .proj {
    background: rgba(0, 0, 0, 0.488);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3), -2px -2px 2px rgba(255, 255, 255, 0.3), 0px 15px 10px rgba(0, 0, 0, 0.488);
    height: 600px;
    padding: 30px;
    margin: 30px 0px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  section#portfolio .projCont .proj > div {
    width: 50%;
  }
  section#portfolio .projCont .proj .projInfo {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    height: 85%;
  }
  section#portfolio .projCont .proj .techStackCont {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
  }
  section#portfolio .projCont .proj .techStackCont picture {
    width: 20%;
    margin: 0px 10px;
  }
  section#portfolio .projCont .proj .projImg {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  section#portfolio .projCont .proj .projImg picture, section#portfolio .projCont .proj .projImg img {
    width: 90%;
    border-radius: 20px;
  }
  section#portfolio .projCont button {
    background: linear-gradient(to right, #00f, rgb(128, 0, 255));
    margin: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    padding: 0;
  }
  section#portfolio .projCont button a {
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    display: block;
  }
  section#portfolio .projCont .detailBtn {
    background: transparent;
  }
  section#portfolio h1,
  section#portfolio h4 {
    background: rgba(0, 0, 0, 0.3);
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.488), -3px -3px 2px rgba(255, 255, 255, 0.3), 15px 15px 15px rgba(0, 0, 0, 0.488);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    display: flex;
    justify-content: center;
  }
  section#portfolio h2 {
    font-weight: 900;
  }
  @keyframes gradient-move {
    0% {
      background-position-x: 0%;
    }
    100% {
      background-position-x: 100%;
    }
  }
  section#contact > div > div {
    width: 100%;
  }
  section#contact .formDiv h1 {
    background: rgba(0, 0, 0, 0.3);
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.488), -3px -3px 2px rgba(255, 255, 255, 0.3), 15px 15px 15px rgba(0, 0, 0, 0.488);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
  }
  section#contact form {
    background: rgba(0, 0, 0, 0.488);
    width: 100%;
    padding: 40px 30px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3), -2px -2px 2px rgba(255, 255, 255, 0.3), 0px 15px 10px rgba(0, 0, 0, 0.488);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    display: flex;
    justify-content: center;
  }
  section#contact form > div {
    width: 100%;
  }
  section#contact form .submit-button {
    background: linear-gradient(to right, #00f, rgb(128, 0, 255));
    cursor: pointer;
  }
  section#contact #ways-contact {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
  }
  section#contact #ways-contact .contact {
    background: linear-gradient(135deg, #00f, rgb(128, 0, 255));
    width: 75px;
    height: 75px;
    display: inline-block;
    animation: blob 10s ease-in-out infinite;
  }
  section#contact #ways-contact p {
    display: inline-block;
    margin: 20px 10px;
  }
  section#contact #ways-contact img {
    filter: brightness(0);
  }
  @keyframes blob {
    0%, 100% {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50% {
      border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
  }
}
/* Footer Settings */
footer {
  background: #151515;
  color: white;
  padding: 30px 30px 0px 30px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 10px 5px 5px rgba(0, 0, 0, 0.2);
}
footer div#footerNav > div {
  padding: 20px;
}
footer div#meetMe li {
  display: inline-block;
  margin: 10px;
}
footer div#meetMe a {
  filter: brightness(0);
  transition: all 0.5s ease;
}
footer div#meetMe a:hover {
  filter: brightness(1);
}
footer div#credits {
  background: #070707;
  margin: 20px -30px 0px -30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer ul {
  width: 110%;
}
footer ul li {
  margin: 20px;
}
footer a {
  transition: all 0.5s ease;
}
footer a:hover {
  background: linear-gradient(to right, #00f, rgb(128, 0, 255));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/* Icons */
div#msgMe {
  background: linear-gradient(135deg, #00f, rgb(128, 0, 255));
  color: white;
  width: 75px;
  height: 75px;
  position: fixed;
  top: 85%;
  left: 80%;
  z-index: 1;
  animation: blob 10s ease-in-out infinite;
}
div#msgMe figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
div#msgMe:hover {
  box-shadow: 0px 0px 30px rgb(95, 95, 255);
  transition: 0.5s ease;
}
div#msgMe a {
  display: block;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 1200px) {
  div#msgMe {
    top: 85%;
    left: 90%;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  /* Intro Section */
  .headerName {
    display: inline;
  }
  section#intro .intro-content {
    display: flex;
    justify-content: space-around;
  }
  section#intro .intro-content div {
    display: flex;
    flex-direction: row-reverse;
  }
  section#intro .intro-content #introImg {
    width: 40%;
    display: block;
  }
  section#intro #introducing {
    text-align: left;
  }
  section#intro #socials {
    display: flex;
    flex-direction: column;
  }
  /* Services Sections */
  section#services div#cards {
    width: 100vw;
    transform: translateX(-10%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  section#services .skill-block {
    width: 400px;
    margin: 20px;
  }
  /* Area Section */
  .promises {
    width: 45%;
  }
  .results > div#prom-container {
    display: flex;
    flex-wrap: wrap;
  }
  /* Footer Section */
  #footerNav {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  /* Header Settings */
  .headerName {
    display: none;
  }
  header li {
    display: inline-block;
  }
  header #mainHeader {
    width: 70%;
  }
  /* Intro Section */
  section#intro > div {
    width: 100%;
  }
  section#intro > div div {
    width: 100%;
  }
  section#intro .intro3D {
    display: block;
  }
  section#intro .intro-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  section#intro .intro-content div {
    width: 50%;
    text-align: left;
    display: flex;
    flex-direction: row-reverse;
  }
  section#intro .intro-content #introImg {
    display: block;
  }
  section#intro .introducing {
    text-align: left;
  }
  section#intro #socials {
    display: flex;
    justify-content: start;
    flex-direction: column;
  }
  section#intro div.intro-content div#introImg {
    display: block;
  }
  div#scroll-anim {
    width: 100vw;
  }
  /* Services Sections */
  section#services #cards {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transform: translateX(-10%);
  }
  section#services #cards .skill-block {
    width: 44%;
    margin: 20px;
  }
  /* About Section */
  .about-style {
    height: 700px;
  }
  section#about > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  section#about > div div {
    width: 50%;
  }
  /* Area Section */
  #prom-container {
    width: 100%;
  }
  .promises {
    width: 45%;
  }
  .results > #prom-container {
    display: flex;
    flex-wrap: wrap;
  }
  /* CTA Section */
  section#contact > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  /* Footer Section */
  #footerNav {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  /* Header Settings */
  header > div {
    margin: 0px 150px;
  }
  header .headerName {
    display: inline;
  }
  header #mainHeader {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
  }
  header #mainHeader menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  header #mainHeader menu nav {
    display: block;
    width: 70%;
  }
  header li {
    display: inline;
  }
  header div#bgcolor {
    width: 15%;
  }
  header.scrolled > div {
    padding: 30px;
  }
  /* Main Settings */
  section {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  section > div {
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: space-around;
  }
  /* Intro Section */
  section#intro > div {
    width: 86%;
    margin: 10px 0px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  section#intro div.intro3D {
    position: absolute;
    display: block;
    pointer-events: all;
  }
  section#intro > div div {
    width: 80%;
    text-align: left;
    display: flex;
    justify-content: start;
    flex-direction: row-reverse;
  }
  section#intro h1 {
    width: 100%;
    position: relative;
    top: 0;
    display: inline-block;
  }
  section#intro h1 span.nickname {
    font-size: 4em;
    position: absolute;
    top: 0;
  }
  section#intro h1 span.cursiveWords {
    font: bolder 2em "Kalam", cursive;
    letter-spacing: 0.25em;
  }
  section#intro h2.intro-h2 {
    font-size: 2em;
    margin-top: 0;
  }
  section#intro div#socials {
    display: flex;
    flex-direction: column;
  }
  section#intro div#socials div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* Services Section */
  section#services #cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  section#services #cards .skill-block {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
  }
  section#services #cards .skill-block:nth-child(1) {
    transition: transform 2.3s ease;
  }
  section#services #cards .skill-block:nth-child(2) {
    transition: transform 2s ease;
  }
  section#services #cards .skill-block:nth-child(3) {
    transition: transform 1.7s ease;
  }
  /* About Section */
  section#about {
    height: 900px;
  }
  section#about div {
    width: 80%;
  }
  /* Area Section */
  section#area > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  section#area > div > div {
    margin: 100px 0px;
  }
  section#area .platform {
    width: 100%;
    margin: 20px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-items: flex-start;
  }
  section#area .platform div {
    width: 60%;
  }
  section#area .platform p {
    width: 90%;
  }
  section#area #google-design {
    width: 700px;
    position: absolute;
    transform: translateY(-25%);
  }
  /* Meta Section */
  section#skills .platform {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }
  section#skills .platform div {
    width: 50%;
  }
  .result {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .result div {
    width: 100%;
    padding: 20px;
    margin: 20px;
  }
  .result #prom-container {
    height: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 550px);
    gap: 30px;
  }
  .result #prom-container .promises {
    margin: 0;
  }
  .result #prom-container .promises:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 8;
  }
  .result #prom-container .promises:nth-child(2) {
    grid-column-start: 8;
    grid-column-end: 13;
  }
  .result #prom-container .promises:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 6;
  }
  .result #prom-container .promises:nth-child(4) {
    grid-column-start: 6;
    grid-column-end: 13;
  }
  /* CTA Section */
  section#contact #ways-contact {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: start;
  }
  section#contact .formDiv form {
    width: 650px;
    padding: 40px 20px;
  }
  section#contact .formDiv form div {
    width: 95%;
  }
  /* Footer Section */
  footer {
    margin-top: 0px;
  }
  footer #footerNav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-items: flex-start;
  }
  footer #footerNav > div {
    width: 35%;
    padding: 20px;
  }
}

/*# sourceMappingURL=index.css.map */
