* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

html, body {
  background: #060606;
  color: white;
  width: 100vw;
  min-width: 100%;
  height: 100vh;
  overflow-x: clip;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

#root {
  width: 100%;
  height: 100%;
}

fieldset {
  border: none;
  margin: 20px;
}

input {
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
}

button {
  background: transparent;
  margin: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: underline;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../../../fonts/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Kalam";
  src: url("../../../fonts/Kalam/Kalam-Regular.ttf");
  font-display: swap;
}
header {
  color: white;
  width: 100vw;
  height: 90px;
  position: fixed;
  /* top: -15%;  Add Javascript to animate header*/
  top: 3%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
header > div {
  background: rgba(0, 0, 0, 0.5);
  width: 90%;
  height: 100%;
  padding: 30px;
  margin: 0px 15px;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header li {
  display: none;
  margin: 10px;
}
header button {
  background: transparent;
  width: auto;
}
header button#contactButton {
  border-bottom: 3px solid rgb(54, 23, 255);
  transition: all 0.5s ease;
}
header button#contactButton:hover {
  box-shadow: 0px 3px 7px rgb(54, 23, 255);
}
header a {
  color: var(--txtColor);
  transition: all 0.5s ease;
}
header a:hover {
  background: linear-gradient(to right, var(--color0), var(--color1));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
header div#mainHeader {
  width: 35%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header menu {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
header div#musicDiv {
  display: inline-flex;
  align-items: center;
}
header canvas {
  background: rgb(196, 196, 196);
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 50%;
  transition: all 0.5s ease;
  cursor: pointer;
}
header canvas:hover {
  background: linear-gradient(to right, var(--color0), var(--color1));
}
header div#bgcolor {
  width: 50%;
  display: flex;
  align-items: center;
  position: relative;
}
header div#bgcolor label {
  background: linear-gradient(to right, rgb(106, 106, 255), rgb(200, 0, 255));
  width: 80px;
  height: 40px;
  border-radius: 80px;
  display: block;
  position: relative;
  left: 0;
  cursor: pointer;
  box-shadow: 0px 3px 10px 2px rgba(255, 0, 255, 0.218), inset 0px 0px 15px var(--shadow);
}
header div#bgcolor input {
  display: none;
}
header div#bgcolor input:not(:checked) ~ span i#symbol {
  border: 2px solid black;
  box-shadow: 9px 0px 0px -6px white, -9px 0px 0px -6px white, 0px 9px 0px -6px white, 0px -9px 0px -6px white, 7px -7px 0px -6px white, -7px -7px 0px -6px white, -7px 7px 0px -6px white, 7px 7px 0px -6px white;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  mix-blend-mode: screen;
}
header div#bgcolor input:checked ~ span i#symbol {
  background: transparent;
  box-shadow: -4px 4px 0px 2px white;
  position: absolute;
  top: 40%;
  left: 25%;
  transform: translateY(-50%);
}
header div#bgcolor input:checked ~ label {
  background: linear-gradient(to right, var(--color0), var(--color1));
  box-shadow: 0px 3px 10px 2px rgba(0, 0, 255, 0.218), inset 0px 0px 15px var(--shadow);
}
header div#bgcolor input:checked ~ span i#thumb {
  position: absolute;
  left: calc(100% - 34px);
}
header div#bgcolor i#symbol {
  background: white;
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
}
header div#bgcolor i#thumb {
  background: white;
  box-shadow: 0px 0px 10px var(--shadow);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: 0.5s;
  position: absolute;
  top: 50%;
  left: 7%;
  transform: translateY(-50%);
  pointer-events: none;
}

section#intro {
  height: 100vh;
}
section#intro > div {
  width: 100vw;
  height: 85vh;
}
section#intro .intro3d, section#intro iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

section#services {
  box-shadow: 0px -10px 15px rgba(0, 0, 0, 0.488);
}
section#services .skillBlock {
  background: linear-gradient(to bottom, var(--baseBlur), var(--bg3));
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  width: 100%;
  padding: 20px;
  margin: 20px 0px;
  box-shadow: 0px 15px 15px 10px var(--shadow), -3px -3px 2px rgba(255, 255, 255, 0.3), 0px 5px 15px 1px var(--shadow);
  border-radius: 10px;
}
section#services .skillBlock .img-sk {
  background: linear-gradient(135deg, var(--color1), var(--color0));
  width: 200px;
  height: 200px;
  margin: 20px;
  animation: blob 10s ease-in-out infinite;
}
section#services h1 {
  background: rgba(0, 0, 0, 0.3);
  display: inline-block;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.488), -3px -3px 2px rgba(255, 255, 255, 0.3), 15px 15px 15px rgba(0, 0, 0, 0.488);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}
section#services img {
  width: 50%;
  filter: brightness(0);
}

section#about {
  padding-top: 50px;
  position: relative;
}
section#about > div {
  margin-top: 50px;
  z-index: 1;
}

div#about-style {
  background: var(--bg2);
  width: 100%;
  height: 850px;
  z-index: 0;
  transform: skewY(-5deg);
  position: absolute;
  left: 0;
}

section#contact {
  height: auto;
}

div.scroll-anim {
  width: 100vw;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  z-index: 1;
}

div.scroll-anim > div {
  width: 30px;
  height: 50px;
  border: 3px solid black;
  border-radius: 30px;
  display: flex;
  justify-content: center;
}

div.scroll-anim > div::after {
  content: "";
  background: black;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top: 20%;
  animation: scroll 1.1s ease-in-out infinite;
}

@keyframes scroll {
  from {
    top: 20%;
  }
  to {
    top: 60%;
    opacity: 0.2;
  }
}
@keyframes blob {
  0%, 100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
}
/* Footer Settings */
footer {
  background: var(--bg3);
  color: var(--txtColor);
  padding: 30px 30px 0px 30px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 10px 5px 5px rgba(0, 0, 0, 0.2);
}
footer div#footerNav > div {
  width: 100%;
  padding: 20px;
}
footer div#meetMe li {
  display: inline-block;
  margin: 10px;
}
footer div#meetMe a {
  filter: brightness(0);
  transition: all 0.5s ease;
}
footer div#meetMe a:hover {
  filter: brightness(1);
}
footer div#credits {
  background: var(--bgCredit);
  margin: 20px -30px 0px -30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer ul {
  width: 110%;
}
footer ul li {
  margin: 20px;
}
footer a {
  transition: all 0.5s ease;
}
footer a:hover {
  background: linear-gradient(to right, var(--color0), var(--color1));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/*# sourceMappingURL=index.css.map */
