/* Footer Settings */
footer {
  background: $bg3;
  color: $color;

  padding: 30px 30px 0px 30px;

  display: flex;
  flex-direction: column;
  box-shadow: 0px 10px 5px 5px rgba(0, 0, 0, .2);

  div#footerNav > div {
    width: 100%;
    padding: 20px;
  }

  div#meetMe {
    li {
      display: inline-block;
      margin: 10px;
    }

    a {
      filter: brightness(0);
      transition: all .5s ease;

      &:hover {
        filter: brightness(1);
      }
    }
  }

  div#credits {
    background: $bgCredit;

    margin: 20px -30px 0px -30px;

    @include spaceAround;
  }

  ul {
    width: 110%;

    li {
      margin: 20px;
    }
  }

  a {
    transition: all .5s ease;

    &:hover {
      background: linear-gradient(
        to right,
        $color0,
        $color1
      );
      background-clip: text;
      -webkit-background-clip: text;

      color: transparent;
    }
  }
}