header {
  color: $color;

  width: 100vw;
  height: 90px;

  position: fixed;
  /* top: -15%;  Add Javascript to animate header*/
  top: 3%;
  z-index: 5;

  @include center;

  > div {
    width: 95%;
    height: 100%;
    padding: 10px 20px;

    @include spaceBetween;

    .logoDiv {
      padding: 5px 10px;
      border-radius: 30px;

      @include flexStart;

      h1 {
        opacity: 0;
        pointer-events: none;
      }

      a:hover {
        color: $color;
      }
    }
  }

  li {
    margin: 10px;
  }

  button {
    @include buttonGen(false, true);

    background: transparent;
    width: auto;
    padding: 0;
    margin: 0;

    a {
      padding: 10px;
    }
  }

  figure {
    width: 100%;

    img {
      width: 75px;
      height: 75px;
    }

    h1 {
      width: auto;
    }
  }

  a {
    color: $color;
    transition: all 0.5s ease;

    &:hover {
      background: linear-gradient(to right, $color0, $color1);

      background-clip: text;
      -webkit-background-clip: text;

      color: transparent;
    }
  }

  #mainHeader {
    @include spaceEvenly;

    width: 50%;

    menu {
      @include flexEnd;
      width: 100%;
    }
  }

  #musicDiv {
    display: inline-flex;
    align-items: center;
  }

  canvas {
    background: rgb(196, 196, 196);

    width: 50px;
    height: 50px;
    padding: 10px;

    border-radius: 50%;
    transition: all 0.5s ease;

    &:hover {
      background: linear-gradient(to right, $color0, $color1);
    }
  }

  div#bgcolor {
    display: flex;
    align-items: center;

    position: relative;

    label {
      background: linear-gradient(
        to right,
        rgb(106, 106, 255),
        rgb(200, 0, 255)
      );

      width: 80px;
      height: 40px;
      border-radius: 80px;

      display: block;

      position: relative;
      left: 0;

      box-shadow: 0px 3px 10px 2px rgba(255, 0, 255, 0.218),
        inset 0px 0px 15px $shadow;
    }

    i#symbol {
      background: white;

      display: inline-block;
      width: 18px;
      height: 18px;
      border-radius: 50%;
    }

    i#thumb {
      background: white;
      box-shadow: 0px 0px 10px $shadow;

      width: 30px;
      height: 30px;

      border-radius: 50%;
      transition: 0.5s;

      position: absolute;
      top: 50%;
      left: 7%;
      transform: translateY(-50%);

      pointer-events: none;
    }

    input {
      display: none;
    }

    input:not(:checked) ~ span i#symbol {
      border: 2px solid black;
      box-shadow: 9px 0px 0px -6px white, -9px 0px 0px -6px white,
        0px 9px 0px -6px white, 0px -9px 0px -6px white, 7px -7px 0px -6px white,
        -7px -7px 0px -6px white, -7px 7px 0px -6px white,
        7px 7px 0px -6px white;

      width: 15px;
      height: 15px;

      position: absolute;
      top: 50%;
      left: 70%;
      transform: translate(-50%, -50%);

      mix-blend-mode: screen;
    }

    input:checked ~ span i#symbol {
      background: transparent;
      box-shadow: -4px 4px 0px 2px white;

      position: absolute;
      top: 40%;
      left: 25%;
      transform: translateY(-50%);
    }

    input:checked ~ label {
      background: linear-gradient(to right, $color0, $color1);

      box-shadow: 0px 3px 10px 2px rgba(0, 0, 255, 0.218),
        inset 0px 0px 15px $shadow;
    }

    input:checked ~ span i#thumb {
      position: absolute;
      left: calc(100% - 34px);
    }
  }
}
