/* Icons */
div#headerMenu {
  background: linear-gradient(
    135deg,
    $color0,
    $color1
  );
  color: $color;

  width: 75px;
  height: 75px;

  z-index: 7;

  animation: blob 10s ease-in-out infinite;

  figure {
    width: 100%;
    height: 100%;
    @include center;
  }

  &:hover {
    box-shadow: 0px 0px 30px rgb(95, 95, 255);
    transition: .5s ease;
  }

  button {
    background: none;
    width: 100%;
    height: 100%;
    margin: 0;
    cursor: pointer;
  }

  .menuIcon {
    width: 70%;
    height: 70%;
    transition: all .5s ease;
  }
}

.settingsMenu {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);

  width: 350px;
  margin: 0px 10px;
  padding: 10px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 30px;

  @include verticalFlex;

  position: absolute;
  top: 100%;
  left: 25%;
  z-index: 7;

  transition: all .5s ease;

  .socials {
    margin: 10px 20px;
  }

  button {
    padding: 0;
    
    a {
      display: block;
      width: 100%;
      height: 100%;
      padding: 12px 20px;
    }
  }

  @media screen and (min-width: 1200px) {
    // Msg Me Icons
    top: 95%;
  }
}

.backUp {
  width: 75px;
  height: 75px;
  margin: 0px 10px;
  border-radius: 50%;

  @include center;

  position: fixed;
  top: 87%;
  left: 80%;
  z-index: 7;

  transition: all .5s ease;

  cursor: pointer;

  > * {
    width: 30px;
    height: 30px;
  }

  @media screen and (min-width: 1200px) {
    // Msg Me Icons
    top: 85%;
  }
}