@media all {
  main {
    background: $bg;
    width: 100%;

    > div {
      width: 100%;
    }

    section {
      width: 100%;
      padding: 50px auto;

      @include center;

      > div {
        width: 80%;
      }
    }
  }

  // Intro Section
  section#intro {
    height: 100vh;

    @include verticalFlex;

    > div {
      width: 80vw;
      height: 100vh;

      @include spaceBetween;
    }

    .intro3d, iframe {
      width: 100%;
      height: 100%;

      position: absolute;
      top: 0;
      left: 0;
    }

    button {
      width: 100%;
    }

    h1 {
      width: 100%;
      height: 160px;

      position: relative;
      display: inline-block;

      span.nickname {
        color: $color;

        font-size: 3em;

        position: absolute;
        top: 10%;
      }

      span.cursiveWords {
          background: linear-gradient(
          to right,
          $color0,
          $color1
        );
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;

        text-align: center;
        font: bolder 1.5em 'Kalam', cursive;
        letter-spacing: .26em;
        filter: drop-shadow(2px 2px 5px rgb(0, 0, 0));

        display: inline-block;

        position: relative;
        top: 20%;
        z-index: 1;
      }
    }

    h2.intro-h2 {
      font-size: 2em;
      text-shadow: 0px 0px 5px $shadow;
    }

    #introducing {
      width: 100%;

      button {
        margin: 0px auto;

        transition: all .5s ease;

        &:hover {
          scale: 1.05;
        }
      }
    }

    span {
      line-height: 1.5em;
    }

    #socials {
      margin: 10px;

      display: flex;
      justify-content: center;

      div {
          background: linear-gradient(
          45deg,
          $color0,
          $color1
        );
        box-shadow: 5px 2px 10px $shadow;

        width: 50px;
        height: 50px;
        padding: 10px;
        margin: 15px 10px;
        border-radius: 50%;

        @include center;
      }
    }

    #socials img {
      display: block;
      width: 100%;
      height: 100%;

      filter: brightness(0);
      transition: all .5s ease;
    }

    .introPresent {
      width: 50%;

      @include center;

      .picCont {
        background: linear-gradient(
          135deg,
          $color1,
          $color0
        );

        width: 500px;
        height: 500px;

        animation: blob 10s ease-in-out infinite;

        &:nth-child(even) {
          background: linear-gradient(
            135deg,
            $color1,
            $color0
          );

          width: 500px;
          height: 500px;

          position: absolute;
          z-index: -1;
          filter: blur(30px);

          animation: blob 10s ease-in-out infinite;
        }
      }

      img {
        width: 50%;
        filter: brightness(0);
      }
    }

    .scroll-anim {
      height: auto;
      margin-bottom: 30px;

      display: flex;
      justify-content: center;
      align-items: flex-end;
      position: absolute;
      top: 88%;
      z-index: 1;

      div {
        width: 30px;
        height: 50px;
        border: 3px solid white;
        border-radius: 30px;
    
        display: flex;
        justify-content: center;
      }
    }

    .scroll-anim > div::after {
      content: '';
      background: white;
      width: 10px;
      height: 10px;

      border-radius: 50%;

      display: inline-block;
      position: relative;
      top: 20%;

      animation: scroll 1.1s ease-in-out infinite;
    }

    @keyframes scroll {
      from {
        top: 20%;
      }
      to {
        top: 60%;
        opacity: .2;
      }
    }
  }

  // Services Sections
  section#services {
    box-shadow: 0px -10px 15px $shadow;
    
    @include spaceAround;

    > div {
      @include verticalFlex(none, center);
      flex-flow: column nowrap;
    }

    .servBlock {
      background: linear-gradient(
        to bottom,
        $baseBlur,
        $bg3
      );
      backdrop-filter: blur(6px);
      -webkit-backdrop-filter: blur(6px);

      width: 100%;
      min-height: 600px;
      padding: 20px;
      margin: 20px 0px;

      box-shadow: 0px 15px 15px 10px $shadow,
                  -3px -3px 2px rgba(255, 255, 255, .3),
                  0px 5px 15px 1px $shadow;

      border-radius: 10px;

      @include verticalFlex(none, center);

      position: relative;
      z-index: 1;

      .imgSv {
        background: linear-gradient(
          135deg,
          $color1,
          $color0
        );

        width: 200px;
        height: 200px;
        margin: 20px;

        animation: blob 10s ease-in-out infinite;

        @include center;

        &:nth-child(even) {
          background: linear-gradient(
            135deg,
            $color1,
            $color0
          );

          width: 200px;
          height: 200px;
          margin: 20px;

          position: absolute;
          z-index: -1;
          filter: blur(30px);

          animation: blob 10s ease-in-out infinite;
        }

        img {
          width: 50%;
          filter: brightness(0)
        }
      }
    }
    
    h1 {
      @include blockHeader;
      margin: 30px 0px;
    }

    img {
      width: 50%;
      filter: brightness(0);
    }
  }

  // About Section
  div#about-style {
    background: $bg2;

    width: 100%;
    height: 850px;
    z-index: 0;

    transform: skewY(-5deg);
    position: absolute;
    left: 0;
  }

  section#about {
    height: 900px;
    padding-top: 50px;
    position: relative;

    > div {
      margin-top: 50px;
      z-index: 1;
    }
  }

  // Area Section
  section#area {
    margin-top: 50px;

    > div {
      @include verticalFlex();

      .platform {
        margin: 20px 0px;
      }

      .img-div {
        position: relative;
        width: 100%;

        figure {
          @include center;
          margin-top: -50px;
        }
      }
    }

    figure {
      display: block;
      margin-top: 20px;
    }

    #webdev-design {
      width: 350px;
      position: relative;
      animation: rotImg 7s infinite linear;
    }

    @keyframes rotImg {
      100% {
        transform: rotate(360deg);
      }
    }
  }

  // Skills Section
  section#skills {
    width: 100%;

    > div {
      @include verticalFlex;

      > div {
        margin: 40px 0px 20px 0px;
      }
    }

    .langsCont {
      width: 100%;

      @include spaceAround;
      flex-flow: row nowrap;
      gap: 30px;

      > div {
        width: 100%;
        margin: 60px 0px;
      }

      .techStack {
        background: $shadow;
        box-shadow: 5px 5px 15px 5px $shadow,
                    -2px -2px 2px rgba(255, 255, 255, .3),
                    0px 15px 10px $shadow;

        width: 55%;
        border-radius: 20px;

        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));

        .tech {
          background: $shadow;
          box-shadow: 5px 5px 15px 5px $shadow,
          -2px -2px 2px rgba(255, 255, 255, .3),
          0px 15px 10px $shadow;
          
          height: 100px;
          margin: 20px;
          border-radius: 20px;
        }

        figure, img {
          width: 70%;
        }
      }

      .laptop {
        position: relative;

        .laptopContent {
          background: white;
          color: black;
  
          width: 77.1%;
          height: 80.5%;
          border-radius: 2px;
  
          position: absolute;
          top: 4.9%;
          left: 11.68%;
          z-index: 1;
        }
      }

      h1 {
        background: transparent;
        box-shadow: none;

        font-family: serif;
      }

      p {
        font-family: serif;
        margin: 16px;
        line-height: 1em;
      }
      
      a {
        font-family: serif;
        color: blue;
        text-decoration: underline;
        margin: 16px;
      }
    }

    h1 {
      @include blockHeader;
      text-align: center;
    }

    figure {
      @include center;
    }
  }

  .platform {
    width: 100%;
  }

  // Portfolio Section
  section#portfolio {
    background: $bg4;
    padding: 50px 0px;
    margin: 50px 0px 100px 0px;
    
    > div {
      @include verticalFlex;
    }

    .projCont {
      .proj {
        background: $shadow;
        box-shadow: 5px 5px 15px 5px $shadow,
                  -2px -2px 2px rgba(255, 255, 255, .3),
                  0px 15px 10px $shadow;

        padding: 30px;
        margin: 30px 0px;
        border-radius: 20px;

        @include spaceAround;

        > div {
          width: 100%;
        }
          
        .projInfo {
          @include verticalFlex(space-between, flex-start);
          gap: 20px;
        }

        .techStackCont {
          @include spaceAround;

          width: 80%;

          picture, img {
            width: 50px;
            margin: 0px 10px;
          }
        }
            
        .projImg {
          @include center;

          picture, img {
            width: 90%;
            border-radius: 20px;
          }
        }
      }

      button {
        @include buttonGen(false, true);
        padding: 0;
      }

      .detailBtn {
        background: transparent;
      }
    }

    h1,
    h4 {
      @include blockHeader;
      margin: auto;
    }

    h2 {
      font-weight: 900;
      @include fancyText;
    }
  }

  @keyframes gradient-move {
    0% {
      background-position-x: 0%;
    }
    100% {
      background-position-x: 100%;
    }
  }

  // Contact Section
  section#contact {
    > div > div {
      width: 100%;
    }

    .formDiv h1 {
      @include blockHeader;
    }

    form { 
      background: $shadow;

      width: 100%;
      padding: 40px 30px;

      border-radius: 20px;
      box-shadow: 5px 5px 15px 5px $shadow,
                  -2px -2px 2px rgba(255, 255, 255, .3),
                  0px 15px 10px $shadow;
              
      backdrop-filter: blur(6px);
      -webkit-backdrop-filter: blur(6px);

      display: flex;
      justify-content: center;

      > div {
        width: 100%;
      }

      .submit-button {
        background: linear-gradient(
          to right,
          $color0,
          $color1
        );

        cursor: pointer;
      }
    }

    #ways-contact {
      @include verticalFlex(space-around, center);

      .contact {
        background: linear-gradient(
          135deg,
          $color0,
          $color1
        );
    
        width: 75px;
        height: 75px;
    
        display: inline-block;
    
        animation: blob 10s ease-in-out infinite;
      }

      p {
        display: inline-block;
        margin: 20px 10px;
      }

      img {
        filter: brightness(0);
      }
    }
  }

  // Effects
  @keyframes blob {
    0%, 100% {
      border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }

    50% {
      border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
  }
}