// Intro Section
section#intro {
  height: 100vh;

  > div {
    width: 100vw;
    height: 85vh;
  }

  .intro3d, iframe {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
  }
}

// Skills Sections
section#services {
  box-shadow: 0px -10px 15px $shadow;

  > div {
    @include verticalFlex();
  }

  .skill-block {
    background: linear-gradient(
      to bottom,
      $baseBlur,
      $bg3
    );
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);

    width: 100%;
    padding: 20px;
    margin: 20px 0px;

    box-shadow: 0px 15px 15px 10px $shadow,
                -3px -3px 2px rgba(255, 255, 255, .3),
                0px 5px 15px 1px $shadow;

    border-radius: 10px;

    @include verticalFlex();

    .img-sk {
      background: linear-gradient(
        135deg,
        $color1,
        $color0
      );

      width: 200px;
      height: 200px;
      margin: 20px;

      animation: blob 10s ease-in-out infinite;

      @include center;

      &:nth-child(even) {
        background: linear-gradient(
          135deg,
          var(--color1),
          var(--color0)
        );

        width: 200px;
        height: 200px;
        margin: 20px;

        position: absolute;
        z-index: -1;
        filter: blur(30px);

        animation: blob 10s ease-in-out infinite;
      }

      img {
        width: 50%;
        filter: brightness(0)
      }
    }
  }
  
  h1 {
    @include blockHeader;
  }

  img {
    width: 50%;
    filter: brightness(0);
  }
}

// About Section
div#about-style {
  background: $bg2;

  width: 100%;
  height: 850px;
  z-index: 0;

  transform: skewY(-5deg);
  position: absolute;
  left: 0;
}

section#about {
  height: 900px;
  padding-top: 50px;
  position: relative;

  > div {
    margin-top: 50px;
    z-index: 1;
  }
}

// Area Section
section#area {
  > div {
    @include verticalFlex;

    div {
      margin-top: 100px;
    }

    .platform {
      margin: 20px 0px;
    }

    .img-div {
      position: relative;
      width: 100%;
    }
  }

  figure {
    display: block;
    margin: 20px;
  }

  #google-design {
    width: 450px;
    position: relative;
  }
}

// Skills Section
section#skills {
  > div {
    @include verticalFlex;

    div {
      margin: 40px 0px;
    }
  }

  figure, img {
    width: 70%;
  }
}

.platform {
  width: 100%;

  @include spaceBetween;
}

// Contact Section
section#contact {
  height: auto;
}

// Effects
div.scroll-anim {
  width: 100vw;
  margin-bottom: 20px;

  display: flex;
  justify-content: center;
  z-index: 1;
}

div.scroll-anim > div {
  width: 30px;
  height: 50px;
  border: 3px solid black;
  border-radius: 30px;

  display: flex;
  justify-content: center;
}

div.scroll-anim > div::after {
  content: '';
  background: black;
  width: 10px;
  height: 10px;

  border-radius: 50%;

  display: inline-block;
  position: relative;
  top: 20%;

  animation: scroll 1.1s ease-in-out infinite;
}

@keyframes scroll {
  from {
    top: 20%;
  }
  to {
    top: 60%;
    opacity: .2;
  }
}

@keyframes blob {
  0%, 100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
}