@media all {
  // Portfolio Section
  section#portfolio {
    background: $bg4;
    padding: 50px 0px;
    margin: 50px 0px 100px 0px;

    > div {
      @include verticalFlex;
    }

    .projCont {
      .proj {
        background: $shadow;
        box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5),
            -1px -1px 2px rgba(255, 255, 255, 0.1),
            0px 15px 10px rgba(0, 0, 0, 0.5);

        padding: 30px;
        margin: 30px 0px;
        border-radius: 20px;

        position: relative;

        @include spaceBetween(row wrap);

        > div {
          width: 100%;
        }

        .projDetails {
          background: $bg;
          box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5),
            -2px -2px 0px rgba(255, 255, 255, 0.1),
            0px 15px 10px rgba(0, 0, 0, 0.5);

          width: 100%;
          height: 100%;
          padding: 50px;
          border-radius: 20px;

          @include spaceAround;

          opacity: 0;
          pointer-events: none;
          
          position: absolute;
          top: 50%;
          left: 50%;
          translate: -50% -50%;

          > div {
            width: 50%;
          }
        }

        .projInfo {
          @include verticalFlex(space-between, flex-start);
          gap: 20px;
        }

        .techStackCont {
          @include spaceAround(row wrap);
          justify-content: flex-start;

          picture,
          img {
            width: 50px;
            margin: 0px 10px 10px 10px;
          }
        }

        .projImg {
          @include center;
          width: 100%;

          picture,
          img {
            width: 100%;
            margin-top: 10px;
            border-radius: 20px;
          }
        }
      }

      button {
        @include buttonGen(false, true);
        padding: 0;
      }

      .detailBtn {
        background: transparent;
        color: white;
        cursor: pointer;
      }

      .closeBtn {
        padding: 12px 20px;

        position: absolute;
        top: 5%;
        left: 85%;
        cursor: pointer;
      }
    }

    h1,
    h4 {
      @include blockHeader;
      margin: auto;
    }

    h2 {
      font-weight: 900;
      @include fancyText;
    }
  }

  @keyframes gradient-move {
    0% {
      background-position-x: 0%;
    }
    100% {
      background-position-x: 100%;
    }
  }
}