@media all {
  // Skills Section
  section#skills {
    width: 100%;
    position: relative;

    > div {
      @include verticalFlex;

      > div {
        margin: 40px 0px 20px 0px;
      }

      .intersectArea {
        width: 100%;
        height: 50px;

        position: absolute;
        top: 50%;
        transform: translateY(-110%);
        left: 0;
        z-index: 6;

        pointer-events: none;
      }
    }

    .langsCont {
      width: 100%;

      @include spaceAround(row wrap);
      gap: 30px;
      position: relative;

      > div {
        width: 100%;
        margin: 60px 0px;
      }

      .techStack {
        background: #060606dd;
        box-shadow: 5px 5px 15px 5px $shadow,
          -2px -2px 2px rgba(255, 255, 255, 0.1), 0px 15px 10px $shadow;
        backdrop-filter: blur(6px);
        -webkit-backdrop-filter: blur(6px);

        width: 90%;
        border-radius: 20px;

        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));

        position: fixed;
        top: 35%;
        left: 5%;
        z-index: 3;

        .tech {
          background: $shadow;
          box-shadow: 5px 5px 15px 5px $shadow,
            -1px -1px 2px rgba(255, 255, 255, 0.1), 0px 15px 10px $shadow;

          height: 80px;
          margin: 10px;
          border-radius: 20px;
          cursor: pointer;
        }

        .active {
          box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5),
            inset -1px -1px 2px rgba(255, 255, 255, 0.1),
            inset 0px 15px 10px rgba(0, 0, 0, 0.5);
        }

        figure,
        img {
          width: 50%;
          pointer-events: none;
        }
      }

      .archFeatures {
        width: 23%;
        height: 610px;
        border-radius: 20px;

        @include verticalFlex(space-around, center, row wrap);
        opacity: 0;
        pointer-events: none;
  
        position: absolute;
        top: 0;
        left: 92%;
      }

      .feature {
        background: #060606dd;
        box-shadow: 5px 5px 15px 5px $shadow,
          -2px -2px 2px rgba(255, 255, 255, 0.3), 0px 15px 10px $shadow;
        backdrop-filter: blur(6px);
        -webkit-backdrop-filter: blur(6px);

        width: 100px;
        height: 100px;
        border-radius: 20px;

        transition: all .5s ease;

        @include center;
      }

      .featSvg {
        color: #5d00ff;

        width: 50%;
        height: 50%;
      }
    }


    h1 {
      @include blockHeader;
      text-align: center;
    }

    figure {
      @include center;
    }
  }

  .platform {
    width: 100%;
  }
}