@charset "UTF-8";

/* General Settings */
:root {
    --bg: #000014;

    --white: #ffffff;
    --black: #000000;
    
    --color0: #0000ff;
    --color1: #7052db;
    --color2: #dd519a;

    --footer: rgb(20, 22, 32);
}

/* Page Header Settings */
div.header-menu {
    display: none;
}

div#sections-nav {
    display: flex;
    align-items: center;
}

div.social-links {
    display: flex;
    justify-content: space-around;

    margin-right: 20px;
}

/* Main Content Settings */
section {
    width: 100%;

    display: flex;
    justify-content: center;
}

section > div {
    width: 90%;
}

/* Writing Block */
div#article {
    margin: 50px;
    display: flex;
    justify-content: space-evenly;
}

div#article p {
    text-align: right;
}

div#article > div {
    width: 45vw;
    text-align: right;
}

/*  */
section#skills {
    display: flex;
    justify-content: space-evenly;
}

div.abilities {
    width: 45vw;
    margin: 20px;
}

/* Settings for Skill Section */
section#skills-section {
    width: 85vw;
    margin: auto;
}

div#skill-container {
    width: 90vw;
    margin: auto;
}

section#skills-section img {
    width: 60%;
    margin: 10px;
}

section#skills-section > div {
    margin: 10px 0px;
}

div.prog-skills {
    background: radial-gradient(
        circle at center,
        var(--color2),
        var(--color1)
        );

    width: 300px;
    height: 300px;
    margin: 10px;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
}

/* Footer Settings */
footer {
    display: flex;
    justify-content: space-around;
}

footer h1 {
    color: var(--color1);
    font-size: 1.2em;
}

footer div ul li {
    display: block;
}