@charset "UTF-8";

/* Page Header Settings */
div.social-links {
    display: flex;
    justify-content: space-around;

    margin-right: 20px;
}

/* Main Content Settings */
article {
    width: 80vw;
}

div#programming {
    height: 350px;

    display: flex;
    justify-content: space-evenly;
}

div#programming > div {
    width: 45vw;
}

div#programming p {
    text-align: right;
}

div#programming img {
    width: 60%;
    padding: 20px;
}

/* Design Block */
div#design {
    height: 350px;

    display: flex;
    justify-content: space-evenly;
}

div#design > div {
    width: 45vw;
}

div#design p {
    text-align: left;
}

div#design img {
    width: 60%;
    padding: 20px;
}

/* Traffick Managment Block */
div#trafficking-management {
    height: 350px;

    display: flex;
    justify-content: space-evenly;
}

div#trafficking-management > div {
    width: 45vw;
}

div#trafficking-management p {
    text-align: right;
}

div#trafficking-management img {
    width: 60%;
    padding: 20px;
}

section#skills {
    display: flex;
    justify-content: space-evenly;
}

div.abilities {
    width: 45vw;
    margin: 20px;
}


/* Settings for Skill Section */
section#skills-section {
    width: 80vw;
    margin: auto;
}

section#skills-section img {
    width: 65%;
    margin: 10px
}

section#skills-section > div {
    margin: 20px 0px;
}

div.prog-skills {
    background-color: rgb(131, 69, 186);

    width: 300px;
    height: 300px;
    margin: 10px;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
}

/* Settings for Forms Section */
section#forms-area div#forms-img {
    display: flex;
}

div#making-deal {
    width: 45%;
}