@charset "UTF-8";

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('../fonts/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Kalam';
  src: url('../fonts/Kalam/Kalam-Regular.ttf');
  font-display: swap;
}

/* General Settings */
:root {
  --baseBlur: rgba(0, 0, 0, .3);

  --bg: #060606;
  --bg2: #010101;
  --bg3: #151515;
  --bg3Blur: rgba(0, 0, 0, .3);
  --bg4: rgb(15, 15, 15);

  --shadow: rgba(0, 0, 0, 0.488);
  
  --txtColor: white;

  --color0: #00f; 
  --color1: rgb(128, 0, 255);

  --header: rgba(0, 0, 0, .5);
  --promises: rgba(01, 01, 01);
  --promisesColor: rgb(0, 0, 49);
  --input: rgba(0, 0, 0, 0.558);
  --bgCredit: #070707;
}

.light-theme {
  --baseBlur: rgba(255, 255, 255, .3);

  --bg: rgb(225, 225, 225);
  --bg2: rgb(210, 210, 210);
  --bg3: rgb(200, 200, 200);
  --bg3Blur: rgba(255, 255, 255, .3);
  --bg4: rgb(190, 190, 190);

  --shadow: rgba(0, 0, 0, .1);

  --txtColor: black;

  --header: rgba(255, 255, 255, .5);
  --promises: rgb(235, 235, 235, .5);
  --promisesColor: rgb(139, 139, 250);
  --input: #e5e5e5d6;
  --bgCredit: #a8a8a8;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  border: none;
  outline: none;

  font-family: 'Plus Jakarta Sans', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

html, body {
  color: var(--txtColor);

  width: 100vw;
  max-width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  position: relative;

  overflow-x: clip;
  scroll-behavior: smooth;
  scroll-padding-top: 100px;

  transition: background .5s;
}

body * {
  transition: background .5s;
}

div#ui {
  height: 100%;
  overflow-x: clip;
  z-index: 1;
}

/* Icons */
div#msg-me {
  background: linear-gradient(
    135deg,
    var(--color0),
    var(--color1)
  );
  color: var(--txtColor);

  width: 75px;
  height: 75px;

  border-radius: 50%;
  box-shadow: 3px 3px 10px black;

  position: fixed;
  top: 85%;
  left: 80%;
  z-index: 1;
}

div#msg-me:hover {
  box-shadow: 0px 0px 15px 2px rgb(95, 95, 255);
  transition: .5s ease;
}

div#msg-me a {
  display: block;
  width: 100%;
  height: 100%;
}

/* Text Settings */
p {
  color: var(--txtColor);
  margin: 20px 0px;

  font-size: 1.2em;
  line-height: 2em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
}

h1 {
  font-size: 2em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
}

.big {
  font-size: 3em;
}

li {
  list-style-type: none;
}

a {
  color: var(--txtColor);
  text-decoration: none;
}

.center {
  display: flex;
  justify-content: center;
}

.fancy {
  background: linear-gradient(
    to right,
    var(--color0),
    var(--color1)
  );

  color: transparent;

  background-clip: text;
  -webkit-background-clip: text;
}

.block-text {
  background: var(--bg3Blur);

  display: inline-block;
  padding: 20px;
  border-radius: 10px;
  
  box-shadow: 0px 5px 15px var(--shadow),
              -3px -3px 2px rgba(255, 255, 255, .3),
              15px 15px 15px var(--shadow);
  
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blue(6px);
}

button {
  background: linear-gradient(
    to right,
    var(--color0),
    var(--color1)
  );

  width: 80%;

  border-radius: 10px;
  border: none;
}

button a {
  display: block;
  color: white;
  width: 100%;
  height: 100%;
  padding: 10px;
}

input, textarea {
  background: var(--input);
  color: var(--txtColor);

  width: 100%;
  padding: 10px;
  margin: 10px 0px;

  border-radius: 10px;
  border: none;
  outline: none
}

textarea {
  resize: none;
}

/* Media Settings */
.hidden {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 2s ease;
}

.hidden1 {
  opacity: 0;
  transition: opacity 2.5s ease;
}

.hidden2 {
  transform: translateX(100%);
  transition: all 2s ease-in-out;
}

.show {
  opacity: 1;
  transform: translateX(0);
}

picture, figure {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

figure img {
  width: 100%;
}

.icons {
  width: 50px;
  height: 50px;
}

.functions {
  width: 100px;
  height: 100px;
}

figcaption {
  display: none;
}

iframe#mascot {
  display: block;
  width: 140vw;
  position: absolute;
}

/* Header Settings */
header {
  width: 100vw;
  height: 90px;

  display: flex;
  align-items: center;

  position: fixed;
  top: 3%;
  z-index: 2;
}

.headerName {
  margin-left: 8px;
  display: none;
}

header.scrolled > div {
  background: var(--header);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

header > div {
  width: 110%;
  height: 100%;
  padding: 30px;
  margin: 0px 15px;
  border-radius: 50px;

  display: flex;
  justify-content: space-between;
}

header li {
  display: none;
  margin: 10px;
}

header button {
  background: transparent;
  width: auto;
}

header button#contactButton {
  border-bottom: 3px solid rgb(54, 23, 255);
  transition: all .5s ease;
}

header button#contactButton:hover {
  box-shadow: 0px 3px 7px rgb(54, 23, 255);
}

header a {
  color: var(--txtColor);
  transition: all .5s ease;
}

header a:hover {
  background: linear-gradient(
    to right,
    var(--color0),
    var(--color1)
  );

  background-clip: text;
  -webkit-background-clip: text;

  color: transparent;
}

header div#mainHeader {
  width: 40%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

header menu {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

header div#musicDiv {
  display: inline-flex;
  align-items: center;
}

header canvas {
  background: rgb(196, 196, 196);

  width: 50px;
  height: 50px;
  padding: 10px;

  border-radius: 50%;
  transition: all .5s ease;
  cursor: pointer;
}

header canvas:hover {
  background: linear-gradient(
    to right,
    var(--color0),
    var(--color1)
  );
}

div#bgcolor {
  width: 50%;

  display: flex;
  align-items: center;

  position: relative;
}

div#bgcolor label {
  background: linear-gradient(
    to right,
    rgb(106, 106, 255),
    rgb(200, 0,255)
  );

  width: 80px;
  height: 40px;
  border-radius: 80px;

  display: block;

  position: relative;
  left: 0;

  cursor: pointer;
  box-shadow: 0px 3px 10px 2px rgba(255, 0, 255, 0.218),
              inset 0px 0px 15px var(--shadow);
}

div#bgcolor input {
  display: none;
}

div#bgcolor i#symbol {
  background: white;

  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

div#bgcolor input:not(:checked) ~ span i#symbol {
  border: 2px solid black;
  box-shadow: 9px 0px 0px -6px white,
              -9px 0px 0px -6px white,
              0px 9px 0px -6px white,
              0px -9px 0px -6px white,
              7px -7px 0px -6px white,
              -7px -7px 0px -6px white,
              -7px 7px 0px -6px white,
              7px 7px 0px -6px white;

  width: 15px;
  height: 15px;

  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);

  mix-blend-mode: screen;
}

div#bgcolor input:checked ~ span i#symbol {
  background: transparent;
  box-shadow: -4px 4px 0px 2px white;

  position: absolute;
  top: 40%;
  left: 25%;
  transform: translateY(-50%);
}

div#bgcolor input:checked ~ label {
  background: linear-gradient(
    to right,
    var(--color0),
    var(--color1)
  );

  box-shadow: 0px 3px 10px 2px rgba(0, 0, 255, 0.218),
              inset 0px 0px 15px var(--shadow);
}

div#bgcolor i#thumb {
  background: white;
  box-shadow: 0px 0px 10px var(--shadow);

  width: 30px;
  height: 30px;

  border-radius: 50%;
  transition: .5s;

  position: absolute;
  top: 50%;
  left: 7%;
  transform: translateY(-50%);

  pointer-events: none;
}

div#bgcolor input:checked ~ span i#thumb {
  position: absolute;
  left: calc(100% - 34px);
}

/* Main Settings */
main {
  background-color: var(--bg);
  width: 100%;
}

main > div {
  width: 100%;
}

section {
  background: transparent;

  width: 100%;
  padding: 50px auto;

  display: flex;
  justify-content: center;
}

div.cont {
  width: 80%;
  z-index: 1;
}

div.results h1 {
  text-align: center;
}

/* Function Section */
section#functions {
  background: var(--bg4);
  padding: 50px;
  margin: 50px 0px 100px 0px;
}

div.prom-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

section div.promises {
  background: var(--promises);

  font-size: 1.8em;
  font-weight: bolder;

  padding: 50px;
  margin: 30px 10px;
  border-radius: 20px;

  transition-duration: .7s;
}

section div.promises:nth-child(1) {
  background: linear-gradient(
      to right,
      blue,
      rgb(128, 0 ,255),
      rgb(205, 54, 255)
    );
  background-size: 300% 100%;

  transition-duration: 2s;

  animation: gradient-move 2s infinite alternate;
}

section div.promises:nth-child(2) {
  background: linear-gradient(
    to bottom,
    var(--bg2),
    var(--promisesColor)
  );
  transition-duration: 1.5s;
}

section div.promises:nth-child(3) {
  background: linear-gradient(
    to bottom,
    var(--bg2),
    var(--promisesColor)
  );
  transition-duration: 1s;
}

section div.promises:nth-child(4) {
    background: linear-gradient(
      to right,
      blue,
      rgb(128, 0 ,255),
      rgb(205, 54, 255)
    );
  background-size: 300% 100%;

  transition-duration: 2s;

  animation: gradient-move 2s infinite alternate;
}

section div.promises:nth-child(5) {
  transition-duration: 1.5s;

  display: flex;
  justify-content: space-around;

  grid-column: span 2 / auto;
}

@keyframes gradient-move {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 100%;
  }
}

/* Intro Section */
section#intro div.intro3D {
  width: 100vw;
  height: 100vh;

  position: absolute;
  top: 0;
  left: 0;
}

section#intro {
  height: 100vh;
  margin-top: 0;

  display: flex;
  align-items: flex-end;
}

section#intro div.cont {
  width: 100vw;
  height: 85vh;
  margin: 70px 0px -30px 0px;
}

section#intro div.cont > div {
  width: 100%;
  padding: 30px;

  text-align: center;

  display: flex;
  flex-direction: column;
}

section#intro div.cont h1 {
  width: 100%;
  height: 160px;

  position: relative;
  display: inline-block;
}

section#intro span.nickname {
  color: var(--txtColor);

  font-size: 3em;

  position: absolute;
  top: 10%;
}

section#intro span.cursiveWords {
    background: linear-gradient(
    to right,
    var(--color0),
    var(--color1)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  text-align: center;
  font: bolder 1.5em 'Kalam', cursive;
  letter-spacing: .26em;
  filter: drop-shadow(2px 2px 5px rgb(0, 0, 0));

  display: inline-block;

  position: relative;
  top: 20%;
  z-index: 1;
}

h2.intro-h2 {
  font-size: 2em;
  text-shadow: 0px 0px 5px var(--shadow);
}

div#introducing {
  width: 100%;
}

div#introducing button {
  margin: 0px auto;

  transition: all .5s ease;
}

div#introducing button:hover {
  scale: 1.05;
}

section#intro span {
  line-height: 1.5em;
}

div#socials {
  margin: 10px;

  display: flex;
  justify-content: center;
}

div#socials div {
    background: linear-gradient(
    45deg,
    var(--color0),
    var(--color1)
  );
  box-shadow: 5px 2px 10px var(--shadow);

  width: 50px;
  height: 50px;
  padding: 10px;
  margin: 15px 10px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

div#socials img {
  display: block;
  width: 100%;
  height: 100%;

  filter: brightness(0);
  transition: all .5s ease;
}

/* About Section */
section#about {
  padding-top: 50px;
}

div#about-style {
  background: var(--bg2);

  width: 100%;
  height: 850px;
  z-index: 0;

  transform: skewY(-5deg);
  position: absolute;
  left: 0;
}

section#about div.cont {
  margin-top: 50px;
  z-index: 1;
}

/* Skills Section */
section#skills {
  box-shadow: 0px -10px 15px rgba(0, 0, 0, .5);
}

section#skills div.cont {
  display: flex;
  flex-direction: column;
}

div.skill-block {
  background: linear-gradient(
    to bottom,
    var(--baseBlur),
    var(--bg3)
  );
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);

  width: 100%;
  padding: 20px;
  margin: 20px 0px;

  box-shadow: 0px 15px 15px 10px var(--shadow),
              -3px -3px 2px rgba(255, 255, 255, .3),
              0px 5px 15px 1px var(--shadow);            

  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

div.skill-block div.img-sk {
  background: radial-gradient(
    var(--color1),
    var(--color0)
  );

  width: 200px;
  height: 200px;
  margin: 20px;

  border-radius: 50%;
}

div.img-sk img {
  width: 50%;
}

/* Google Ads Section */
section#google {
  height: auto;
}

section#google div.cont {
  display: flex;
  flex-direction: column;
}

section#google div.cont > div {
  margin: 100px 0px 0px 0px;
}

section#google div.platform {
  margin: 20px 0px;
}

section#google div.img-div {
  position: relative;
  width: 100%;
}

section#google figure {
  display: block;

  margin-top: 20px;
}

section#google #google-design {
  width: 450px;

  position: relative;
}

/* Meta Ads Section */
section#meta {
  height: auto;
}

section#meta div.cont > div {
  margin: 40px 0px;
}

section#meta div.cont {
  display: flex;
  flex-direction: column;
}

div.platform {
  width: 100%;
}

section#meta figure img {
  width: 70%;
}

/* CTA sect */
section#grow {
  height: auto;
}

section#grow div.cont > div {
  width: 100%;
}

div#ways-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

div.contact {
  background: linear-gradient(
    135deg,
    var(--color0),
    var(--color1)
  );

  width: 75px;
  height: 75px;

  border-radius: 50%;
  display: inline-block;
}

div#ways-contact p {
  display: inline-block;
  margin: 20px 10px;
}

div.contact img {
  filter: brightness(0);
}

form {
  background: var(--shadow);

  width: 100%;
  padding: 40px 30px;

  border-radius: 20px;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3),
              -2px -2px 2px rgba(255, 255, 255, .3),
              0px 15px 10px var(--shadow);
          
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);

  display: flex;
  justify-content: center;
}

form > div {
  width: 100%;
}

form .submit-button {
  background: linear-gradient(
    to right,
    var(--color0),
    var(--color1)
  );

  cursor: pointer;
}

/* Footer Settings */
footer {
  background: var(--bg3);
  color: var(--txtColor);

  padding: 30px 30px 0px 30px;

  display: flex;
  flex-direction: column;
  box-shadow: 0px 10px 5px 5px rgba(0, 0, 0, .2);
}

footer a {
  transition: all .5s ease;
}

footer a:hover {
  background: linear-gradient(
    to right,
    var(--color0),
    var(--color1)
  );
  background-clip: text;
  -webkit-background-clip: text;

  color: transparent;
}

div#meetMe li {
  display: inline-block;
  margin: 10px;
}

div#meetMe a {
  filter: brightness(0);
  transition: all .5s ease;
}

div#meetMe a:hover {
  filter: brightness(1);
}

footer ul {
  width: 110%;
}

footer li {
  margin: 20px;
}

div#footerNav > div {
  width: 100%;
  padding: 20px;
}

footer div#credits {
  background: var(--bgCredit);

  margin: 20px -30px 0px -30px;

  display: flex;
  justify-content: space-around;
  align-items: center;  
}

/* Effects */
div.scroll-anim {
  width: 100vw;
  margin-bottom: 20px;

  display: flex;
  justify-content: center;
  z-index: 1;
}

div.scroll-anim > div {
  width: 30px;
  height: 50px;
  border: 3px solid black;
  border-radius: 30px;

  display: flex;
  justify-content: center;
}

div.scroll-anim > div::after {
  content: '';
  background: black;
  width: 10px;
  height: 10px;

  border-radius: 50%;

  display: inline-block;
  position: relative;
  top: 20%;

  animation: scroll 1.1s ease-in-out infinite;
}

@keyframes scroll {
  from {
    top: 20%;
  }
  to {
    top: 60%;
    opacity: .2;
  }
}