@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* General Settings */
* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-family:  'Plus Jakarta Sans', sans-serif;
}

html, body {
  background: #060606;
  color: white;

  width: 100vw;
  height: 100vh;
}

div#ui {
  background: url('../img/face-pattern.webp');

  width: 100%;
  height: 100%;
}

/* Text Settings */
p {
  font-size: 1.2em;
  line-height: 2em;

  margin: 15px 0px;
}

a {
  color: white;

  font-weight: bold;
  text-decoration: none;
}

button {
  background: linear-gradient(
    to right,
    blue,
    rgb(128, 0, 255)
  );

  margin: 20px;
  border-radius: 20px;

  border: none;
  outline: none;

  transition: all .5s;
}

button:hover {
  box-shadow: -5px 5px 0px blue;
}

button a {
  display: block;
  width: 100%;
  height: 100%;

  padding: 20px;
}

/* Media Settings */
figure {
  width: auto;

  display: flex;
  align-items: center;
}

figcaption {
  display: none;
}

/* Header Settings */
header {
  width: 100%;
  height: 90px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  top: 3%;
}

header > div {
  width: 100%;
  height: 100%;
  margin: 0px 70px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  display: inline;
  width: auto;
  margin-left: 8px;
}

/* Main Settings */
main {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 70px;
  bottom: 0;
}

main h1 {
  margin: 20px 0px;

  font-size: 7em;
}

main section.cont {
  height: 100%;
  padding: 50px;
  border-radius: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

span#face {
  background: linear-gradient(
    45deg,
    blue,
    rgb(128, 0, 255)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}