@charset "UTF-8";

/* Intro Section */
.headerName {
  display: inline;
}

section#intro div.intro-content > div {
  display: flex;
  flex-direction: row-reverse;
}

section#intro div.intro-content {
  display: flex;
  justify-content: space-around;
}

div.intro-content div#introducing {
  text-align: left;
}

section#intro div.intro-content > div#introImg {
  width: 40%;

  display: block;
}

div#socials {
  display: flex;
  flex-direction: column;
}

/* SKills Sections */
section#skills div#cards {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  transform: translateX(-10%);
}

section#skills div.skill-block {
  width: 400px;
  margin: 20px;
}

/* Google Section */
div.promises {
  width: 45%;
}

div.results > div#prom-container {
  display: flex;
  flex-wrap: wrap;
}

/* Footer Section */
div#footerNav {
  display: flex;
  justify-content: space-around;
}